html {
    height: 100%;
}

body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}

.full-height {
    min-height: 100vh;
   
}

.border-bottom {
    border-bottom: #1c486e solid 1px;
}

.logo {
    font-family: 'Exo', sans-serif;
}

.background-midnight {
    opacity: .9;
    background-color: #030330;
}


.background-cobalt-light {
    background-color: #122d44
}
